.header{
    min-height: 100vh;
    justify-content: space-between;
    width:100%;
    background:white;
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:white;
    text-align:left;

}
nav{
     
    padding: 1% 6%;
    display: flex;
    align-items:center;
    justify-content:space-between ;
}
nav img{
    width: 180px;
}
.nav-links2{
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    position:absolute;
    margin-left: -500px;
    margin-top: -226px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:10px 10px;
    position:relative
}
.nav-links ul li a{
    color: white;
    padding: 0px 10px;
    text-decoration : none;
    font: size 1px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 1px;
    background: white;
    display:block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width:50%;
    text-decoration: none;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    color: white;
}
.t1{
    color: #FFF;
font-family: League Spartan;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 630px;
height: 40px;
flex-shrink: 0;
position: absolute;
text-align: left;
margin-left: -140px;
}
.t2{
        color: #DDAE35;
        font-family: League Spartan;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: -100px;
        height: -100px;
        flex-shrink: 0;
        position: absolute;
        text-align: left;
        margin-left: -140px;
    
}
.f1{
    width: 1220px;
    height: 335px;
    flex-shrink: 0; 
    position: absolute;
    

}