
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header, .nav-links ul li::after, .t4, .t5 {
    border: none;
}

.nav-links ul li::after {
    display: none;
}

.sign{
    position: absolute;
    margin-top: 175px;
    margin-left: -100px;
    width: 20px;
    height: 20px;
}
.i1{
    background-color: #FFF;
     width: 120px;
     border: 2px solid #4a154b;
     padding: 10px;
     margin-left: 940px;
     margin-top:-50px ;
     color: #4a154b;
     height: 22px;
     border-radius: 3px;
     position: absolute;
     justify-content:center ;
     align-items: center;
     display: flex;
     font-size: 12px;
     font-weight: 600;
     font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
   }
   .i2{
    width: 120px;
    height:25px;
    padding: 10px;
    background-color: #4a154b;
    margin: 15px;
    color:white;
    font-size: 16px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: center;
    margin-left: 1100px;
    margin-top: -50px;
    justify-content:center ;
    align-items: center;
    display: flex;
    font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif ;
   }
.header{
    height: 1175px;
    justify-content: space-between;
    width:100%;
    background:#F6EFE8;
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:black;
    text-align:left;

}
nav{
    padding: 0;
    display: flex;
    align-items:center;
    justify-content:space-between ;
}
nav img{
    margin-top: 25px;
    margin-left: 100px;
    width: 120px;
    
}
.nav-links2{
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    position:absolute;
    margin-left: -500px;
    margin-top: -226px;
}
.nav-links{
    margin-top: 25px;
    flex:1;
    font-weight: 700;
    color: #000;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:0px 0px;
    position:relative
}
.nav-links ul li a{
    color: black;
    padding: 0px 10px;
    text-decoration : none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 1px;
    background: black;
    display:block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width:75%;
    text-decoration: none;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    color: black;
}
.com{
    flex-shrink: 0;
    margin-left: 850px;
    margin-top: 75px;
}
.s{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -400px;
    margin-left: 150px;
    font-weight: 600;
}
.find{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-left: 145px;
    font-weight: 600;
}
.whether{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -35px;
    margin-left: 145px;
    font-weight: 500;
    line-height: 1.5;
}
.bit{
    width: 225px;
    height:40px;
    padding: 10px;
    background-color: #4a154b;
    margin: 15px;
    color:#FFF;
    font-size: 16px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: center;
    margin-left: 145px;
    margin-top: 0px;
    justify-content:center ;
    align-items: center;
    display: flex;
    font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif ;
   }
   .seen{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    margin-top: 200px;
    margin-left: 480px;
    font-weight: 700;
    line-height: 1.5;
}
.here{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -20px;
    margin-left: 445px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .8;
}
.c1{
    margin-left: 145px;
}
.c2{
    margin-left: 285px;
}
.c3{
    margin-left: 240px;
}
.c4{
    margin-left: 230px;
}
.Thrive{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 10px;
    margin-left: 155px;
    font-weight: 700;
    line-height: 1.5;
}
.Inspire{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -45px;
    margin-left: 520px;
    font-weight: 700;
    line-height: 1.5;
}
.Give{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -45px;
    margin-left: 850px;
    font-weight: 700;
    line-height: 1.5;
}
.Con{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -45px;
    margin-left: 1160px;
    font-weight: 700;
    line-height: 1.5;
}
.Thrive1{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: -15px;
    margin-left: 155px;
    font-weight: 400;
    line-height: 1.5;
}
.Inspire1{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: -85px;
    margin-left: 520px;
    font-weight: 400;
    line-height: 1.5;
}
.Give1{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: -135px;
    margin-left:850px;
    font-weight: 400;
    line-height: 1.5;
}
.Con1{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: -115px;
    margin-left:1160px;
    font-weight: 400;
    line-height: 1.5;
}
.mid{
    width: 100%;
    margin-top: 0px;
    height: 500px;
}
.f3{
    height: 400px;
  width: 400px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0; 
    position: absolute;
    overflow: hidden;
    margin-left: 1000px;
    margin-top: 50px;
}
.meet{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 38px;
    font-style: normal;
    line-height: normal;
    margin-top: 100px;
    margin-left:150px;
    position: absolute;
    font-weight: 600;
}
.you{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-top: 150px;
    margin-left:150px;
    position: absolute;
    font-weight: 400;
    line-height: 1.6;
}
.volunteer{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 225px;
    margin-left:150px;
    position: absolute;
    font-weight: 500;
    line-height: 1.6;
}
.members{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 340px;
    margin-left:150px;
    position: absolute;
    font-weight: 500;
    text-align: left;
    line-height: 1.6;
}
.chap{
    color: #16A5C5;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 282px;
    margin-left:150px;
    position: absolute;
    font-weight: 600;
    line-height: 1.6;
}
.become{
    color: #16A5C5;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 398px;
    margin-left:330px;
    position: absolute;
    font-weight: 600;
    line-height: 1.6;
}
.end1{
    width: 100%;
    height:500px;
    margin-top: 0px;
}
.img1{
    margin-left: 275px;
    margin-top: 50px;
}
.enthusiasm{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 38px;
    font-style: normal;
    line-height: normal;
    margin-top: -300px;
    margin-left:850px;
    position: absolute;
    font-weight: 600;
}
.local{
    color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -200px;
    margin-left:850px;
    position: absolute;
    font-weight: 600;
    line-height: 1.6;
}
.readmore{
    color: #16A5C5;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: -140px;
    margin-left:850px;
    position: absolute;
    font-weight: 600;
    line-height: 1.6;
}
.footer{
    margin-top:0px ;
    margin-left:0px ;
    width: 100%;
height: 1000px;

}
.fbox{
    width: 100%;
    height: 180px;
    background-color: #4a154b;
    position: absolute;
    flex-shrink: 0;
    display: flex;
    margin-left:0px;
    margin-top: 0px;
    border-radius:0 0 200px 200px;
    padding: 80px 0px 90px;
}
.tb1{
    position: absolute;
    margin-left: 450px;
    margin-top: 15px;
    color:white;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 45px;
    font-weight: 600;

}
.fbox1{
    width: 180px;
    height:40px;
    padding: 10px;
    background-color: white;
    margin: 15px;
    color:#4a154b;
    font-size: 15px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: right;
    margin-left: 545px;
    margin-top: 175px;
    justify-content:center ;
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    border: 2px solid white;
}
.fbox2{
   
  width: 180px;
  border: 2px solid white;
  padding: 10px;
  color: #FFF;
  margin-left: 770px;
  margin-top:175px ;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  justify-content:center ;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.l{
    width: 75px;
    height: 75px;
    margin-left: 150px;
    margin-top: 450px;
    position: absolute;
}
.ft1{
    margin-left:350px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft2{
    margin-left:348px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft3{
    margin-left:348px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft4{
    margin-left:348px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft5{
    margin-left:348px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft6{
    margin-left:348px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft7{
    margin-left:540px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft8{
    margin-left:538px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft9{
    margin-left:538px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft10{
    margin-left:538px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft11{
    margin-left:538px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft12{
    margin-left:720px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft13{
    margin-left:718px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft14{
    margin-left:718px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft16{
    margin-left:890px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft17
{
    margin-left:888px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft18
{
    margin-left:888px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft19
{
    margin-left:888px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft20
{
    margin-left:888px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft21
{
    margin-left:888px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft22
{
    margin-left:888px;
    margin-top:710px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft23
{
    margin-left:888px;
    margin-top:750px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft24{
    margin-left:1075px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft25{
    margin-left:1073px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft26{
    margin-left:1073px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft27{
    margin-left:1073px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft28{
    margin-left:1073px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft29{
    margin-left:1073px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft30{
    margin-left:1073px;
    margin-top:710px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.line{
    width: 1250px;
height: 1px;
margin-left:150px ;
margin-top: 900px;
background:gray;
position: absolute;
}
.status{
    margin-left:150px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.privacy{
    margin-left: 220px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.terms
{
    margin-left: 290px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.iypc{
    margin-left: 340px;
    margin-top:920px ;
    position: absolute;
}
.ypc{
    margin-left: 390px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.cookie{
    margin-left: 550px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.contact{
    margin-left: 700px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.region{
    margin-left: 825px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.download{
    margin-left: 1175px;
    margin-top:925px ;
    color: #1264a3;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.iend{
    margin-left: 1300px;
    margin-top:920px ;
    position: absolute;
}
.last{
    margin-left: 150px;
    margin-top:960px ;
    color:gray;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

@media (max-width: 767px) {
   .header{
    height: 2100px;
   }
    nav {
        display: flex; /* Hide the navigation bar */
    }
    .nav-links,
    .nav-links2 {
        display: none; /* Hide other navigation elements */
    }
    .logohead {
        margin-left: 0;
        margin-top: 0; /* Adjust the margin if necessary */
    }
    .s{
        margin-top: 20px;
           margin-left: 20px;
        position: absolute;
    }
    .find{
        margin-top: 50px;
       font-size: 28px;
        margin-left: 20px;
    }
    .whether{
        margin-left: 20px;
        font-size: 14px;
    margin-top: 10px;    }
    .bit{
        margin-left: 20px;
        width: 70%;
        position: unset;
    }
    .com{
        width: auto;
        height: 530px;
        margin-left: 20px;
        margin-top: 320px;
        position:absolute;
    }
    .seen{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 26px;
        font-style: normal;
        line-height: normal;
        margin-top: 550px;
        margin-left: 20px;
        font-weight: 700;
        line-height: 1.5;
    }
    .here{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        width: auto;
        font-style: normal;
        line-height: normal;
        margin-top: 0px;
        margin-left: 20px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: .8;
    }
    .c1{
        margin-left: 20px;
    }
    .Thrive{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 0px;
        margin-left: 20px;
        font-weight: 700;
        line-height: 1.5;
    }
    .Thrive1{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        margin-top: 0px;
        margin-left: 20px;
        font-weight: 400;
        line-height: 1.5;
        width: auto;
    }
    .c2{
        margin-left: -90px;
        margin-top: 220px;
        position: absolute;
    }
    .Inspire{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 170px;
        margin-left: 20px;
        font-weight: 700;
        line-height: 1.5;
        position: absolute;
    }
    .Inspire1{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        margin-top: 140px;
        margin-left: 20px;
        font-weight: 400;
        line-height: 1.5;
        position: absolute;
        width: auto;
    }
    .c3{
        margin-left: -90px;
        margin-top: 500px;
        position: absolute;
    }
    .Give{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 450px;
        margin-left: 20px;
        font-weight: 700;
        line-height: 1.5;
        position: absolute;
    }
    .Give1{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        margin-top: 420px;
        margin-left:20px;
        font-weight: 400;
        line-height: 1.5;
        width: auto;
    }
    .c4{
        margin-left: -90px;
        margin-top: 740px;
        position: absolute;
    }
    .Con{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 700px;
        margin-left: 20px;
        font-weight: 700;
        line-height: 1.5;
        position: absolute;
    }
    .Con1{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        margin-top: 140px;
        margin-left:20px;
        font-weight: 400;
        line-height: 1.5;
        position: absolute;
        width: auto;
    }
    .mid{
        width: 100%;
        margin-top: 0px;
        height: 1000px;
    }
    .meet{
        color: #000;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-top: 50px;
    margin-left:20px;
    position: absolute;
    font-weight: 600;
    }
    .you{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        margin-top: 90px;
        margin-left:20px;
        position: absolute;
        font-weight: 400;
        line-height: 1.6;
        width: auto;
    }
    .volunteer{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        margin-top: 160px;
        margin-left:20px;
        position: absolute;
        font-weight: 400;
        line-height: 1.6;
        width: auto;
    }
    .chap{
        color: #16A5C5;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 260px;
        margin-left:20px;
        position: absolute;
        font-weight: 600;
        line-height: 1.6;
    }
    .members{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        margin-top: 300px;
        margin-left:20px;
        position: absolute;
        font-weight: 400;
        line-height: 1.6;
        width: auto;
    }
    .become{
        color: #16A5C5;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: 435px;
        margin-left:20px;
        position: absolute;
        font-weight: 600;
        line-height: 1.6;
    }
    .f3{
        height: 350px;
      width: 350px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      flex-shrink: 0; 
        position: absolute;
        overflow: hidden;
        margin-left: 60px;
        margin-top: 540px;
    }
    .end1{
        width: 100%;
        height:750px;
        margin-top: 0px;
    }
    .enthusiasm{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        margin-top: -620px;
        margin-left:20px;
        font-weight: 600;
    }
    .local{
        color: #000;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: -550px;
        margin-left:20px;
        position: absolute;
        font-weight: 400;
        line-height: 1.6;
        width: auto;
    }
    .readmore{
        color: #16A5C5;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin-top: -475px;
        margin-left:20px;
        position: absolute;
        font-weight: 600;
        line-height: 1.6;
    }
    .img1{
        margin-left: 50px;
        margin-top: 250px;
    }
    .footer{
        margin-top:0px ;
        margin-left:0px ;
        width: 100%;
    height: 1250px;
    
    }
    .fbox{
        width: 100%;
        height: 220px;
        background-color: #4a154b;
        position: absolute;
        flex-shrink: 0;
        display: flex;
        margin-left:0px;
        margin-top: 0px;
        border-radius:0 0 200px 200px;
        padding: 80px 0px 90px;
    }
    .tb1{
        position: unset;
    margin-left: 65px;
    margin-top: 15px;
    color:white;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 28px;
    font-weight: 600;
    }
    .fbox1{
        width: 75%;
        height:40px;
        padding: 10px;
        background-color: white;
        margin: 15px;
        color:#4a154b;
        font-size: 15px;
        border-radius: 3px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.52px;
        position: absolute;
        text-align: right;
        margin-left: 50px;
        margin-top: 145px;
        justify-content:center ;
        align-items: center;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        float: right;
        border: 2px solid white;
    }
    .fbox2{
   
        width: 75%;
        border: 2px solid white;
        padding: 10px;
        color: #FFF;
        margin-left: 50px;
        margin-top:225px ;
        height: 40px;
        border-radius: 3px;
        position: absolute;
        justify-content:center ;
        align-items: center;
        display: flex;
        font-size: 15px;
        font-weight: 600;
        font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      }
      .l{
        width: 50px;
        height: 50px;
        margin-left: 40px;
        margin-top: 400px;
        position: absolute;
      }
      .ft1{
        margin-left:40px;
        margin-top:475px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft2{
        margin-left:40px;
        margin-top:520px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft3{
        margin-left:40px;
        margin-top:560px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft4{
        margin-left:40px;
        margin-top:600px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft5{
        margin-left:40px;
        margin-top:640px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft6{
        margin-left:40px;
        margin-top:680px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft7{
        margin-left:140px;
        margin-top:475px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft8{
        margin-left:140px;
        margin-top:520px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft9{
        margin-left:140px;
        margin-top:560px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft10{
        margin-left:140px;
        margin-top:600px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft11{
        margin-left:140px;
        margin-top:640px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft12{
        margin-left:220px;
        margin-top:475px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft13{
        margin-left:220px;
        margin-top:520px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft14{
        margin-left:220px;
        margin-top:560px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft16{
        margin-left:298px;
        margin-top:475px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft17{
        margin-left:298px;
        margin-top:520px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft18{
        margin-left:298px;
        margin-top:560px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft19{
        margin-left:298px;
        margin-top:600px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft20{
        margin-left:298px;
        margin-top:640px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft21{
        margin-left:298px;
        margin-top:680px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft22{
        margin-left:298px;
        margin-top:720px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft23{
        margin-left:298px;
        margin-top:760px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft24{
        margin-left:390px;
        margin-top:475px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft25{
        margin-left:390px;
        margin-top:520px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft26{
        margin-left:390px;
        margin-top:560px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft27{
        margin-left:390px;
        margin-top:600px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft28{
        margin-left:390px;
        margin-top:640px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft29{
        margin-left:390px;
        margin-top:680px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .ft30{
        margin-left:390px;
        margin-top:720px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .line{
        width: auto;
        height: 1px;
        background: #bbb;
        margin-left: 20px;
        margin-top:780px ;
    }
    .status{
        margin-left:20px;
        margin-top:800px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .privacy{
        margin-left: 20px;
        margin-top:840px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .terms{
        margin-left: 20px;
        margin-top:880px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .iypc{
        width: 25px;
        height: 18px;
        margin-left: 20px;
        margin-top:920px ;
        position: absolute;
    }
    .ypc{
        margin-left: 50px;
        margin-top:925px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .cookie{
        margin-left: 20px;
        margin-top:960px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .contact{
        margin-left: 20px;
        margin-top:1000px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .region{
        margin-left: 20px;
        margin-top:1040px ;
        color: #000;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .download{
        margin-left: 20px;
        margin-top:1080px ;
        color: #1264a3;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-weight: 700;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }
    .iend{
        margin-left: 20px;
        margin-top:1120px ;
        position: absolute;
    }
    .last{
        margin-left: 20px;
        margin-top:1160px ;
        color:gray;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    }

}