body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header, .nav-links ul li::after, .t4, .t5 {
    border: none;
}

.nav-links ul li::after {
    display: none;
}

.sign{
    position: absolute;
    margin-top: 175px;
    margin-left: -100px;
    width: 20px;
    height: 20px;
}
.i1{
    background-color: #F6EFE8;
     width: 120px;
     border: 2px solid #4a154b;
     padding: 10px;
     margin-left: 940px;
     margin-top:-50px ;
     color: #4a154b;
     height: 22px;
     border-radius: 3px;
     position: absolute;
     justify-content:center ;
     align-items: center;
     display: flex;
     font-size: 12px;
     font-weight: 600;
     font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
   }
   .i2{
    width: 120px;
    height:25px;
    padding: 10px;
    background-color: #4a154b;
    margin: 15px;
    color:white;
    font-size: 16px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: center;
    margin-left: 1100px;
    margin-top: -50px;
    justify-content:center ;
    align-items: center;
    display: flex;
    font-style: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif ;
   }
.header{
    height: 125px;
    min-height: 100px;
    justify-content: space-between;
    width:100%;
    background:#F6EFE8;
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:black;
    text-align:left;

}
nav{
    padding: 0;
    display: flex;
    align-items:center;
    justify-content:space-between ;
}
nav img{
    margin-top: 25px;
    margin-left: 100px;
    width: 120px;
    
}
.nav-links2{
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    position:absolute;
    margin-left: -500px;
    margin-top: -226px;
}
.nav-links{
    margin-top: 25px;
    flex:1;
    font-weight: 700;
    color: #000;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:0px 0px;
    position:relative
}
.nav-links ul li a{
    color: black;
    padding: 0px 10px;
    text-decoration : none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 1px;
    background: black;
    display:block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width:75%;
    text-decoration: none;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    color: black;
}
.start{
    width:100%;
    height: 400px;
    position: absolute;
}
.media{
    color: #000;
    width: 630px;
    height: 77px;
    flex-shrink: 0;
font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
margin-left: 630px;
margin-top: 50px;
}
.Choose{
    color: #000;
text-align: center;
font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 1.4;
width: 923px;
height: 159px;
flex-shrink: 0;
margin-top: 135px;
position: absolute;
margin-left: 300px;
justify-content: center;
letter-spacing: 1;
}
.To{
    color: #000;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: 260px;
    position: absolute;
    margin-left: 300px;
    letter-spacing: 1;
    justify-content: center;
}
.feedback{
    color: blue;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: 285px;
    position: absolute;
    margin-left: 80px;
    letter-spacing: 1;
    font-weight: 600;
    justify-content: center;
}
.pr{
    color: blue;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: 310px;
    position: absolute;
    margin-left: 400px;
    letter-spacing: 1;
    font-weight: 600;
    justify-content: center;
}
.mid{
    width: 100%;
    margin-top: 1000px;
    height: 600px;
    position: absolute;
}
.media1{
    width: 330px;
height: 200px;
flex-shrink: 0;
margin-left: 125px;
margin-top: -525px;
position: absolute;
}
.logos{
    color: #000;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -305px;
    position: absolute;
    margin-left: -310px;
    letter-spacing: 1;
    justify-content: left;
}
.sublogos{
    color: #000;
    text-align: left;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -275px;
    position: absolute;
    margin-left: 123px;
    letter-spacing: normal;
    justify-content: left;
}
.media2{
    width: 330px;
height: 200px;
flex-shrink: 0;
margin-left: 550px;
margin-top: -525px;
position: absolute;
}
.product{
    color: #000;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -305px;
    position: absolute;
    margin-left: 180px;
    letter-spacing: 1;
    justify-content: left;
}
.subproduct{
    color: #000;
    text-align: left;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -275px;
    position: absolute;
    margin-left: 555px;
    letter-spacing: normal;
    justify-content: left;
}
.lead{
    color: #000;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -305px;
    position: absolute;
    margin-left: 650px;
    letter-spacing: 1;
    justify-content: left;
}
.sublead{
    color: #000;
    text-align: left;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -275px;
    position: absolute;
    margin-left:1030px;
    letter-spacing: normal;
    justify-content: left;
}
.media3{
    margin-left: 825px;
}
.brand{
    color: #000;
    text-align: center;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -265px;
    position: absolute;
    margin-left: -260px;
    letter-spacing: 1;
    justify-content: left;
}
.subbrand{
    color: #000;
    text-align: left;
    font-family: "font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    width: 923px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -225px;
    position: absolute;
    margin-left:118px;
    letter-spacing: normal;
    justify-content: left;
}
.v1{
    color: #16A5C5;
    margin-top: -425px;
    font-size: 18px;
    margin-left: 122px;
}
.v2{
    color: #16A5C5;
    margin-top: -40px;
    font-size: 18px;
    margin-left: 550px;
}
.v3{
    color: #16A5C5;
    margin-top: -40px;
    font-size: 18px;
    margin-left: 1027px;
}
.e{
    color: #16A5C5;
    margin-top: 295px;
    font-size: 18px;
    margin-left: 117px;
}
.box{
    width: 1250px;
    height:90px;
    padding: 10px;
    background-color: #D9D9D9;
    margin: 15px;
    color:black;
    font-size: 17px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: left;
    margin-left: 125px;
    margin-top: 200px;
    justify-content:center ;
    align-items: center;
    display: flex;
}
.footer{
    margin-top:1625px ;
    margin-left:0px ;
    width: 100%;
height: 1000px;

}
.fbox{
    width: 100%;
    height: 180px;
    background-color: #4a154b;
    position: absolute;
    flex-shrink: 0;
    display: flex;
    margin-left:0px;
    margin-top: 0px;
    border-radius:0 0 200px 200px;
    padding: 80px 0px 90px;
}
.tb1{
    position: absolute;
    margin-left: 425px;
    margin-top: 15px;
    color:white;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 45px;
    font-weight: 600;

}
.fbox1{
    width: 180px;
    height:40px;
    padding: 10px;
    background-color: white;
    margin: 15px;
    color:#4a154b;
    font-size: 15px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: right;
    margin-left: 650px;
    margin-top: 175px;
    justify-content:center ;
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    border: 2px solid white;
}
.l{
    width: 75px;
    height: 75px;
    margin-left: 150px;
    margin-top: 450px;
    position: absolute;
}
.ft1{
    margin-left:350px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft2{
    margin-left:348px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft3{
    margin-left:348px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft4{
    margin-left:348px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft5{
    margin-left:348px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft6{
    margin-left:348px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft7{
    margin-left:540px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft8{
    margin-left:538px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft9{
    margin-left:538px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft10{
    margin-left:538px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft11{
    margin-left:538px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft12{
    margin-left:720px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft13{
    margin-left:718px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft14{
    margin-left:718px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft16{
    margin-left:890px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft17
{
    margin-left:888px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft18
{
    margin-left:888px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft19
{
    margin-left:888px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft20
{
    margin-left:888px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft21
{
    margin-left:888px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft22
{
    margin-left:888px;
    margin-top:710px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft23
{
    margin-left:888px;
    margin-top:750px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft24{
    margin-left:1075px;
    margin-top:460px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft25{
    margin-left:1073px;
    margin-top:510px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft26{
    margin-left:1073px;
    margin-top:550px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft27{
    margin-left:1073px;
    margin-top:590px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft28{
    margin-left:1073px;
    margin-top:630px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft29{
    margin-left:1073px;
    margin-top:670px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.ft30{
    margin-left:1073px;
    margin-top:710px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.line{
    width: 1250px;
height: 1px;
margin-left:150px ;
margin-top: 900px;
background:gray;
position: absolute;
}
.status{
    margin-left:150px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.privacy{
    margin-left: 220px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.terms
{
    margin-left: 290px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.iypc{
    margin-left: 340px;
    margin-top:920px ;
    position: absolute;
}
.ypc{
    margin-left: 390px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.cookie{
    margin-left: 550px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.contact{
    margin-left: 700px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.region{
    margin-left: 825px;
    margin-top:925px ;
    color: #000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.download{
    margin-left: 1175px;
    margin-top:925px ;
    color: #1264a3;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.iend{
    margin-left: 1300px;
    margin-top:920px ;
    position: absolute;
}
.last{
    margin-left: 150px;
    margin-top:960px ;
    color:gray;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}