body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header, .nav-links ul li::after, .t4, .t5 {
    border: none;
}

.nav-links ul li::after {
    display: none;
}



.header{
    min-height: 250px;
    justify-content: space-between;
    width:100%;
    background:white;
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:white;
    text-align:left;

}
nav{
     
    padding: 0;
    display: flex;
    align-items:center;
    justify-content:space-between ;
}
nav img{
    width: 180px;
    margin-left: 85px;
}
.nav-links2{
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    position:absolute;
    margin-left: -500px;
    margin-top: -226px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:0px 0px;
    position:relative
}
.nav-links ul li a{
    color: white;
    padding: 0px 10px;
    text-decoration : none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 1px;
    background: white;
    display:block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width:50%;
    text-decoration: none;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    color: white;
}
.t1{
    color: #FFF;
font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 630px;
height: 40px;
flex-shrink: 0;
position: absolute;
text-align: right;
margin-left: 70px;
margin-top: -50px;
letter-spacing: -1.5px;
}
.t2{
        color: #DDAE35;
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.0625;
        width: -100px;
        flex-shrink: 0;
        position: absolute;
        text-align: left;
        margin-left: 125px;
        margin-top: -30px;
        letter-spacing: -1.5px;
}
.f1{
    width: 1220px;
    height: 335px;
    flex-shrink: 0; 
    position: absolute;
    align-items: right;
    margin-left: 840px;
    max-width: 700px;
    max-height: 400px;
    

}
.t3{
    width: 668px;
height: 108px;
flex-shrink: 0;
color: #FFF;
font-family:   Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 300px;
line-height: normal;
letter-spacing: -0.52px;
position: absolute;
text-align: left;
margin-left: 125px;
margin-top: 175px;
}
.t4{
    width: 310px;
    height:40px;
    padding: 10px;
    background-color: #FFF;
    margin: 15px;
    color:#4a154b;
    font-size: 22px;
    border-radius: 3px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: center;
    margin-left: 125px;
    margin-top: 320px;
    justify-content:center ;
    align-items: center;
    display: flex;
}
.t5{
        width: 240px;
        height:40px;
        padding: 10px;
        background-color: #4285f4;
        margin: 15px;
        color:white;
        font-size: 22px;
        border-radius: 3px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.52px;
        position: absolute;
        text-align: right;
        margin-left: 480px;
        margin-top: 320px;
        justify-content:center ;
        align-items: center;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        float: right;
    }
.t5 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    justify-items: left;
    align-items:left;
    display: flex;
    float: left;
    position:absolute;
    margin-left: -200;
}
.free{
    width: 668px;
    height: 108px;
    flex-shrink: 0;
    color: #FFF;
    font-family:   Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300px;
    line-height: normal;
    letter-spacing: -0.52px;
    position: absolute;
    text-align: left;
    margin-left: 125px;
    margin-top: 360px;
}
.mid{
    margin-top:500px ;
    margin-left:0 ;
    width: 100%;
height: 1500px;
}
.m1{
    color: #000;
font-family: " Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif";
font-size: 16px;
font-style:normal;
font-weight: 700;
line-height: normal;
margin-top: 500px;
margin-left: 575px;
line-height: 10;
border: none;
}
.im1{
    width: 112px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 250px;
    margin-top: -34px;
}
.im2{
    width: 112px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 425px;
    margin-top: -50px;
}